button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;

    color: var(--white);
    border-radius: 8px;

    outline: none;
    border: none;
}

button:hover {
    filter: brightness(1.1);
}

input[type="submit"] {
    width: 30%;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    align-self: flex-end;
}
