.accueil {
    height: 87.5vh;
    overflow-y: scroll;
}

.publication {
    background: var(--background-publication) !important;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-publication {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    gap: 12px;
}

.content-publication {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    gap: 12px;
}

.transition {
    width: 100vw;
    padding: 1px;
    background-color: var(--black);
    opacity: 40%;
}

.id {
    display: flex;
    flex-direction: column;
}

.name {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.div-handle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.post {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-right: 16px;
}

.stats {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.like {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

.poubelle {
    position: relative;
    top: 4px;
    left: 0px;
    filter: invert(1);
    width: 30px;
}
